.topics-content {
  //margin-top: 30Px;
}

.at-grid__flex .content-inner__img {
  height: 50Px;
  width: 50Px;
  border-radius: 3Px;
}

@media (max-width: 767Px) {
  .at-grid__flex .content-inner__text {
    font-size: 15Px;
  }
}

@media (min-width: 768Px) and (max-width: 1024Px) {
  .at-grid__flex .content-inner__text {
    font-size: 18Px;
  }
}
