.article {
  position: relative;
  padding: 5Px;
  margin: 0 auto;
}

// 缩略图
.article-thumb {
  position: relative;
  height: 80Px;
  width: 80Px;
  margin-left: 8Px;
  border-radius: 4PX;
}

// 文章内容
.article-content {
  float: left;
  margin-left: 10Px;
}

.article-title {
  margin-top: 12Px;
  font-size: 16PX;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//文章标签
.article-tag {
  margin-top: 20px;
  padding: 2Px;
  display: flex;
}

.author, .publish-date {
  margin-left: 4Px;
  font-size: 12PX;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  vertical-align: middle;
}

.author-view, .publish-view {
  display: inline-block;
  text-align: center;
}

.author-view .at-icon, .publish-view .at-icon {
  font-size: 13Px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  text-rendering: auto;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

.publish-view {
  margin-left: 10Px;
}

@media (min-width: 768Px) and (max-width: 1024Px) {
}



