@import "../../assets/css/mixin";

.empty {
  padding-top: second(25px);
  text-align: center;

  .icon {
    width: second(124px);
    height: second(97px);
  }

  .title {
    font-size: second(16px);
    color: rgba(178, 178, 178, 1);
    text-align: center;
    margin-top: second(20px);
  }

  .info {
    font-size: second(12px);
    color: #999;
    text-align: center;
    margin-top: second(8px);
    font-weight: 300;
  }
}

//居中显示
.centerBox {
  @include center;
  margin-top: 0;
}
