.content {
  //padding-top: 40px;
}

.barBox {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  //background: #fafafa;
  transition: all 500ms;


  .searchBtn {
    display: inline-block;

    .searchBar {
      width: 129px;
      height: 46px;
      padding: 25px 10px 5px 15px;
    }
  }
}

.filter-blur {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  //padding: 0 0 10px 0;
}

.filter-blur:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  background: url('https://img-blog.csdn.net/20171031175816530?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvY3N1X3Bhc3Nlcg==/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/SouthEast');
  filter: blur(5Px);
}
