$b-h: 210Px;
.swiper-container  {
  width: 100vw;
  height: $b-h;
  margin: 0 auto;

  image,
  img {
    height: $b-h !important;
    //border-radius: 10Px;
  }

  .img_banner {
    width: 100%;
  }
}
