@import '~taro-parse/dist/style/main.scss';

.parse-content {
  //width: calc(100vw - 56px);
  //box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 150px;
  margin: 0 auto;

  .pv_text {
    padding: 40px;
    font-size: 14PX;
    word-wrap: break-word;
    word-break: break-all;
    float: right;
    margin-right: 30px;
    color: #14c9c9 !important;
  }
}

.h2w-light .h2w__blockquote {
  border-left-color: #dfe2e5;
  background: #f3f3f3;
  padding: 20px;
}

