.header-null{
  height: 130px;
  background: #fff;
  width: 100vw;
}

.guide-page {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 60px);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .qcore {
    width: 100px;
    height: 100px;
  }

  .guide-title {
    font-size: 28px;
    color: #222222eb;
  }
}

@media (prefers-color-scheme: dark) {
  .guide-page {
    background: #232323;

    .guide-title {
      font-size: 28px;
      color: white
    }
  }
}

@media (prefers-color-scheme: light) {
  .guide-page {
    background: white;

    .guide-title {
      font-size: 28px;
      color: #222222eb
    }
  }
}

