.guide-page {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 25px;

  .qcore {
    width: 100px;
    height: 100px;
  }

  .guide-title {
    font-size: 28px;
    color: #222222eb
  }
}

@media (prefers-color-scheme: dark) {
  .guide-page {
    background: #292929;
    .guide-title {
      font-size: 28px;
      color: white
    }
  }
}

@media (prefers-color-scheme: light) {
  .guide-page {
    background: white;
    .guide-title {
      font-size: 28px;
      color: #222222eb
    }
  }
}

